<div class='row-fluid'>	
	<h1 class='span12'>Items</h1>
</div>

<div ng-controller='InitCtrl'>
	<div class='row-fluid'>	
		<div class='span5'>
			<div class="well well-small" ng-hide='isBusy'>
				<button class="btn" ng-click="new()" reveal='mode'>New</button>
			</div>			
			<div spin="isBusy" ng-show="isBusy" class="well"></div>
		</div>
	</div>
	
	<div class='row-fluid'>
		<div class="span8" ng-hide='isBusy'>
			<table class="table">	
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Brand</th>
				</tr>
				<tr ng-repeat="i in items" ng-controller="ShowFormCtrl">
					<td>{{i.code}}</td>
					<td>{{i.name}}</td>
					<td>{{i.brand}}</td>
					<td>
						<button href class="btn btn-danger" ng-click="delete()">Delete</button>
						<button href class="btn btn-primary" ng-click="edit()" reveal='mode'>Edit</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
		
		
</div>

<div ng-include="'views/item_modal.html'"></div>
<div ng-include="'views/del_modal.html'"></div>