<h1>Journals</h1>


<div class="well well-small span8">
	<button class="btn">New</button>
</div>


<div class="span8 well well-small" ng-repeat="j in journals">
	<h4>
		<span class="span1">{{j.number}}</span>
		<span class="span2">{{j.date}}</span>
		<span class="span3">{{j.j_type}}</span>
		<span class="span3">
			<button class="btn btn-primary">Edit</button>
			<button class="btn btn-danger">Delete</button>
		</span>
		<button class="btn btn-warning">Post</button>
		<div>
			<button type="button" class="btn btn-link" ng-model="load" data-loading-text="Loading..." bs-button>Show lines</button>
		</div>
	</h4>
</div>

<!-- <div class="span8">
	<table class="table">
		<tr>
			<th>Number</th>
			<th>Date</th>
			<th>Type</th>
			<th>Posted</th>
		</tr>
		<tr ng-repeat="j in journals">
			<td>{{j.number}}</td>
			<td>{{j.date}}</td>
			<td>{{j.j_type}}</td>
			<td><span class="label label-success">{{j.posted}}</span></td>
			<td>
				<button class="btn btn-primary">Edit</button>
				<button class="btn btn-danger">Delete</button>
			</td>
			<td>
				<button class="btn btn-warning">Post</button>
			</td>
		</tr>
	</table>
</div>
 -->