
<h1>
	<span class='span7'>{{journal.j_type}} Journal {{journal.number}}</span>
	<span class='span3'>
		<button class="btn btn-primary" ng-click='edit()'>Edit</button>
		<button class="btn btn-danger">Delete</button>
		<button class="btn btn-warning">Post</button>
	</span>
</h1>
<h5 class='span10'>{{journal.date}}</h5>

<div class='span8' ng-controller='linesCtrl'>
	<table class="table">
		<tr>
			<th>Date</th>
			<th>Item Code</th>
			<th>Item Name</th>
			<th>Quantity</th>
		</tr>
		<tr ng-repeat="l in lines">
			<td>{{l.date}}</td>
			<td>{{l.item_code}}</td>
			<td>{{l.item_name}}</td>
			<td>{{l.qty}}</td>
		</tr>
	</table>
</div>

<div ng-include='"views/journal_modal.html"'></div>