
<h1>Locations</h1>
<div class="span12">
	<div class="btn-broup well well-small span8">
		<button class="btn" ng-click="new()">New</button>
	</div>
</div>

<div class="span8">

	<table class="table">
		<tr>
			<th>Name</th>
			<th>City</th>
		</tr>
		<tr ng-repeat="l in locations">
			<td>{{l.name}}</td>
			<td>{{l.city}}</td>
			<td>
				<button class="btn btn-primary" ng-click="edit()">Edit</button>
				<button class="btn btn-danger" ng-click="delete()">Delete</button>
			</td>
		</tr>
	</table>

</div>

<div ng-include="'views/location_modal.html'"></div>
<div ng-include="'views/del_modal.html'"></div>