
<div modal="modalEdit.shown" class="fade" spin='modalEdit.spin'>
	<div class="modal-header">
		<button class="close" ng-click="modalEdit.shown=false">x</button>
		<h3>Location</h3>
	</div>

	<div class="modal-body">
		<form class='form-horizontal' ng-submit='createOrUpdate()'>
			
			<div class="control-group">
				<label class='control-label'>Name</label>
				<div class="controls">
					<input ng-model='modalEdit.data.name' type="text" placeholder="What is the name of the store?" error>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label">City</label>
				<div class="controls">
					<input ng-model='modalEdit.data.city' type="text" placeholder="Where is it located?" error>
				</div>
			</div>
			
			<div class="control-group controls" ng-show="modalEdit.data.error.main">
				<div ng-model="modalEdit.data.main" error></div>
			</div>
			
			<div class="control-group ">
				<div class="controls">
					<input type="submit" class="btn btn-primary">
					<button type='button' class='btn btn-link' ng-click='modalEdit.shown=false'>Cancel</button>
				</div>
			</div>
			
		</form>
	</div>
</div>