
<div modal="modalEdit.shown" class="fade">
	<div class="modal-header">
		<button class="close" ng-click="modalEdit.shown=false">x</button>
		<h3>Location</h3>
	</div>

	<div class="modal-body">
		<form ng-submit='createOrUpdate()'>
			<label>Name</label>
			<input ng-model='modalEdit.data.name' type="text" placeholder="What is the name of the store?">
			<label>City</label>
			<input ng-model='modalEdit.data.city' type="text" placeholder="Where is it located?">
			<span class="help-block"></span>
			<input type="submit" class="btn btn-primary">
		</form>
	</div>
</div>