
<h1>Locations</h1>
<div  ng-controller='InitCtrl'>
	<div spin="isBusy" ng-show="isBusy" class="well"></div>

	<div class="span8" ng-hide='isBusy'>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>City</th>
			</tr>
			<tr reveal on='mode'>
				<td colspan=2>
					<div class="btn-broup">
						<button class="btn btn-link" ng-click="new()">Add new line</button>
					</div>				
				</td>
			</tr>
			<tr part='NewOrEdit' is='row' part-controller='NewOrEditFormCtrl'>
				<td colspan=4 spin='isBusy'>
					<form class='form-inline' ng-submit='createOrUpdate()'>
						<div class="control-group">
							<input type='text' ng-model='l.name' placeholder='Name' error>
						</div>
						<div class="control-group">
							<input type='text' ng-model='l.city' placeholder='City'error>
						</div>
						<div class='control-group' ng-show='errors.main'>
							<div ng-model='l.main' error></div>	
						</div>
						<button type='submit' class='btn btn-primary'>Submit</button>
						<button type='button' class='btn btn-link' ng-click='cancel()'>Cancel</button>
					</form>
				</td>
			</tr>
			<tr part='Del' is='row' part-controller='DelFormCtrl'>
				<td colspan=4 spin='isBusy'>
					<div class='alert alert-block'>
						<button type='button' class='close' ng-click='cancel()'>&times;</button>
						<h4>Location deletion</h4>
						Do you readlly want to delete {{l.name}}?
						<div class="control-group controls">
							<div ng-model="model.main" error='errors'></div>
						</div>
						<button class="btn btn-danger" ng-click="destroy()">Yes</button>
						<button class="btn" ng-click="cancel()">No</button>
					</div>
				</td>
			</tr>
			<tr ng-repeat="l in locations" ng-controller='ShowFormCtrl' reveal on='mode'>
				<td>{{l.name}}</td>
				<td>{{l.city}}</td>
				<td>
					<button class="btn btn-primary" ng-click="edit()">Edit</button>
					<button class="btn btn-danger" ng-click="delete()">Delete</button>
				</td>
			</tr>
		</table>

	</div>
</div>