<div class="navbar">
	<div class="navbar-inner">
		<span class="brand">Inventory Management</span>
		<ul class="nav">
			<li ng-class="nav.home"><a href="#">Home</a></li>
			<li ng-class="nav.journals"><a href="#/journals">Journals</a></li>
			<li ng-class="nav.items"><a href="#/items">Items</a></li>
			<li ng-class="nav.locations"><a href="#/locations">Locations</a></li>
			<li ng-class="nav.report"><a href="#/report">Report</a></li>
		</ul>
	</div>
</div>

<div class="row-fluid">
	<div class="span2" ng-include="templates.sb"></div>
	<div class="span10" ng-include="templates.body"></div>
</div>