<div class='hero-unit'>
	<h1>A few words about the app</h1>
</div>
	
<div class='row-fluid'>
	<div class='span6'>
		<h2>How it may help</h2>
		<p>
			The goals of the app is to find the way of a web app develompment. Usually for every CRUD app needs to find solution for common tasks kind of show, edit, create and delete data, show spin and error messages. The project is focused on front-end develompent. The back-end of the app is mocked-up. In the app is presented ideas how the task may be done with cutting age technologies.
		</p>
	</div>
	<div class='span6'>
		<h2>Used technologies</h2>
		<p>
			The heard of the app is the terrible awsome angularjs. Design is build appon Bootstrap from twitter. Got a lot of ideas from AngularStrap, AngularUI, UI Bootstrap. 
		</p>
	</div>
</div>

<div class='row-fluid'>
	<div class='span6'>
		<h2>About the archicture</h2>
		<p>
			Here is no documentation yet. By the way here are few key components. There are crud controller and part/reveal directives. If you want to know more about the app, I will be happy to answer questions via GitHub.
		</p>
	</div>
	<div class='span6'>
		<h2>Contribute</h2>
		<p>
			No a single solution. Everything can be better. Encourge to find a better solution and pull it. Everything is under test. 
		</p>
	</div>
</div>
